body {
    font-family: sans-serif;
    color: white;
}

#header {
    padding-left: 0px;
    text-align: center;
    margin-bottom: 20px;
}

.board {
    margin: 40px auto;
    display: block;
    margin-right: 20px;
}

.board-row {
    margin: auto;
}

.instruction {
    margin-top: 180px;
    font-size: 20px;
}

.information {
    padding-left: 40px;
    margin-top: 100px;
    font-size: 20px;
}

.information img {
    margin-bottom: 10px;
}

#highlight {
    color: rgb(252, 243, 23);
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
}

.card {
    margin: 2px 2px 2px 2px;
    text-align: center;
    padding-top: 15px;
    height: 130px;
    width: 130px;
    display: inline-block;
    background-color: rgb(92, 171, 237);
    cursor: pointer;
}

img {
    width: 90px;
    height: auto;
}

.restart {
    margin: 10px auto;
    font-size: 30px;
}

.show {
    color: white;
}

.matched {
    background-color: rgb(171, 60, 89);
}

#move {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fb_iframe_widget {
    margin-left: 0px;
}
